body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #985E49;
    color: #ecf0f1;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #ecf0f1;
    font-weight: bold;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #9F8C86;
    color: #ecf0f1;
    padding: 1rem;
    text-align: center;
}

form {
    display: grid;
    gap: 10px;
}

button {
    background-color: #933838;
    color: #ecf0f1;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #6d859d;
}